<div class="row">
  <div class="col-5 border border-black rounded" style="padding: 15px; margin-right:10px;">
    <h5>Number of Draw Deck Cards:</h5>
  </div>
  <div class="col-5 border border-black rounded" style="padding: 15px; margin-left: 10px;">
    <h5>Number of Discard Deck Cards:</h5>
  </div>
</div>