/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container-fluid {
  padding: 25px;
  background-color: #a8dbe6;
  margin-bottom: 20px;
  border-bottom: 5px solid #7c7c7c;
}

.btn {
  background-color: #b8b8b8;
  border: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.flash-message {
  background-color: #b7a4ec;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
}

.table-of-cards {
  background-color: #a8dbe6;
  margin: 20px;
}

body {
  margin-bottom: 20px;
}

